{% extends 'base.html.twig' %}

{% block title %}
	User index
{% endblock %}

{% block body %}

	<h1>Bienvenue !</h1>
	{% if app.user %}
		<div class="mb-3">
			Vous êtes connecté en tant que
			{{ app.user.userIdentifier }},
			<div>
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		</div>
	{% endif %}
{% endblock %}
